:root {
    --color-grey-1: #FAFAFA;
    --color-grey-2: #E5E5E5;
    --color-grey-3: #DBDBDB;
    --color-grey-4: #A8A8A8;
    --color-grey-5: #474747;
    --color-white: #fff;
    --color-green-1: #BDDAD5;
    --color-green-2: #5DC2AF;
}